* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

a {
  text-decoration: none;
}
p {
  margin: 0.75rem 0;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #88d0f7;
  color: #333;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.cart-icon,
#navbar ul li a {
  color: #333;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

.cart-icon:hover,
#navbar ul li a:hover {
  background: white;
  border-radius: 5px;
}
