/* index page */

@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Spartan:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

a {
  text-decoration: none;
}
p {
  margin: 0.75rem 0;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #88d0f7;
  color: #333;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #333;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: white;
  border-radius: 5px;
}

#showcase {
  background: #333 url("../img/image-1.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #333;
}
#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 70rem;
  height: 100%;
  line-height: 3rem;
}

/* shop page */
#shop {
  margin-top: 2rem;
  margin-right: 370px;
  margin-left: 10px;
}
/* shop-content */
.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}
.product-box {
  position: relative;
}
.product-box:hover {
  padding: 10px;
  border: 1px solid #333;
  transition: 0.4s;
}
.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}
.product-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.price {
  font-weight: 500;
}
.add-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #333;
  color: white;
  padding: 10px;
  cursor: pointer;
}
.add-cart:hover {
  background: hsl(249, 32%, 17%);
}
/* cart */
.cart {
  position: fixed;
  top: 10;
  right: 0;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: white;
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
}
.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
